.navbar-static-top {
  margin-bottom: 19px;
}

.container {
  #import-likes {
    margin: 15px 0;
  }

  .like-track, .track {
    width: 330px;
    float: left;
    height: 200px;
    margin: 0 10px 10px 0;
    .description {
      max-height: 70px;
    }

    .btn-container {
      position: absolute;
      bottom: 10px;
      left: 5%;
      width: 90%;
      .btn {
        width: 100px;
      }
    }
  }

  .player-container {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
  }

  [contenteditable=true] {
    border: 1px dashed grey;
  }
}
